In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler


from library.sb_utils import save_file

In [2]:
df = pd.read_csv('Fraud_EDA.csv')
df

,customerId,transactionDateTime,transactionType,creditLimit,availableMoney,transactionAmount,currentBalance,merchantName,merchantCategoryCode,acqCountry,...,time_since_last_transaction,transaction_type_per_month,differ_from_last_transaction_amount,merchantName_monthly,merchantCategoryCode_monthly,acqCountry_monthly,posEntryMode_monthly,changedAddress,time_between_openDate_AddressChange,encoded_cardLast4Digits
0,737265056,2016-08-13 14:27:32,PURCHASE,5000,5000.00,98.55,0.00,Other,rideshare,US,...,0.0,1,0.00,1,1,1,1,0,0.0,949
1,737265056,2016-10-11 05:05:54,PURCHASE,5000,5000.00,74.51,0.00,Other,entertainment,US,...,5063902.0,1,-24.04,1,1,1,1,0,0.0,395
2,737265056,2016-11-08 09:18:39,PURCHASE,5000,5000.00,7.47,0.00,Other,Other,US,...,2434365.0,1,-67.04,1,1,1,1,0,0.0,395
3,737265056,2016-12-10 02:14:50,PURCHASE,5000,5000.00,7.47,0.00,Other,Other,US,...,2739371.0,1,0.00,1,1,1,1,0,0.0,395
4,830329091,2016-03-24 21:04:46,PURCHASE,5000,5000.00,71.18,0.00,Other,fastfood,US,...,0.0,1,0.00,1,1,1,1,0,0.0,1663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776486,732852505,2016-12-22 18:44:12,PURCHASE,50000,48904.96,119.92,1095.04,Lyft,rideshare,US,...,40609.0,13,68.44,3,6,13,2,0,0.0,2020
776487,732852505,2016-12-25 16:20:34,PURCHASE,50000,48785.04,18.89,1214.96,Other,Other,US,...,250582.0,13,-101.03,9,3,13,6,0,0.0,1798
776488,732852505,2016-12-27 15:46:24,PURCHASE,50000,48766.15,49.43,1233.85,Lyft,rideshare,US,...,170750.0,13,30.54,3,6,13,1,0,0.0,2020
776489,732852505,2016-12-29 00:30:55,PURCHASE,50000,48716.72,49.89,1283.28,walmart.com,online_retail,US,...,117871.0,13,0.46,1,1,13,6,0,0.0,1798
776490,732852505,2016-12-30 20:10:29,PURCHASE,50000,48666.83,72.18,1333.17,Other,rideshare,US,...,157174.0,13,22.29,9,6,13,4,0,0.0,1798

For the first round of Preprocessing and Modeling, I will not drop some of the features that are similiar for fraud and normal transactions

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776491 entries, 0 to 776490
Data columns (total 42 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   customerId                           776491 non-null  int64
 1   transactionDateTime                  776491 non-null  object
 2   transactionType                      776491 non-null  object
 3   creditLimit                          776491 non-null  int64
 4   availableMoney                       776491 non-null  float64
 5   transactionAmount                    776491 non-null  float64
 6   currentBalance                       776491 non-null  float64
 7   merchantName                         776491 non-null  object
 8   merchantCategoryCode                 776491 non-null  object
 9   acqCountry                           776491 non-null  object
 10  posEntryMode                         776491 non-null  int64
 11  posConditionCode                     776491 non-null  int64
 12  accountOpenDate                      776491 non-null  object
 13  dateOfLastAddressChange              776491 non-null  object
 14  cardPresent                          776491 non-null  int64
 15  expirationDateKeyInMatch             776491 non-null  int64
 16  Incorrect CVV Entered                776491 non-null  int64
 17  isFraud                              776491 non-null  int64
 18  month                                776491 non-null  int64
 19  day_of_month                         776491 non-null  int64
 20  begin_of_month                       776491 non-null  int64
 21  middle_of_month                      776491 non-null  int64
 22  end_of_month                         776491 non-null  int64
 23  day_of_week                          776491 non-null  object
 24  hour                                 776491 non-null  int64
 25  morning                              776491 non-null  int64
 26  day                                  776491 non-null  int64
 27  evening                              776491 non-null  int64
 28  night                                776491 non-null  int64
 29  weekday                              776491 non-null  int64
 30  weekend                              776491 non-null  int64
 31  holiday                              776491 non-null  int64
 32  time_since_last_transaction          776491 non-null  float64
 33  transaction_type_per_month           776491 non-null  int64
 34  differ_from_last_transaction_amount  776491 non-null  float64
 35  merchantName_monthly                 776491 non-null  int64
 36  merchantCategoryCode_monthly         776491 non-null  int64
 37  acqCountry_monthly                   776491 non-null  int64
 38  posEntryMode_monthly                 776491 non-null  int64
 39  changedAddress                       776491 non-null  int64
 40  time_between_openDate_AddressChange  776491 non-null  float64
 41  encoded_cardLast4Digits              776491 non-null  int64
dtypes: float64(6), int64(28), object(8)
memory usage: 248.8+ MB

In [4]:
#Drop customerId and transactionDateTime

df.drop(columns=['customerId', 'transactionDateTime'],inplace=True)

In [5]:
#correct some dtypes

df[['posEntryMode','posConditionCode']] = df[['posEntryMode','posConditionCode']].astype('O')

#accountOpenDate and dateOfLastAddressChange should be datetime

df['accountOpenDate']=pd.to_datetime(df['accountOpenDate'])
df['dateOfLastAddressChange']=pd.to_datetime(df['dateOfLastAddressChange'])

In [6]:
#Turn dates into numeric by ordinal dates

df['accountOpenDate'] = df['accountOpenDate'].map(lambda x:x.toordinal())

df['dateOfLastAddressChange'] = df['dateOfLastAddressChange'].map(lambda x:x.toordinal())

In [7]:
#Look at object columns

list(df.select_dtypes('O').columns)

['transactionType',
 'merchantName',
 'merchantCategoryCode',
 'acqCountry',
 'posEntryMode',
 'posConditionCode',
 'day_of_week']

In [8]:
#Get dummy variables for Object features

df = pd.get_dummies(df, columns = ['transactionType',
 'merchantName',
 'merchantCategoryCode',
 'acqCountry',
 'posEntryMode',
 'posConditionCode',
 'day_of_week'])

In [9]:
#All features are nore numeric

df.dtypes.unique()

array([dtype('int64'), dtype('float64'), dtype('uint8')], dtype=object)

In [10]:
df.shape

(776491, 87)

# What Next?

1- Create training and test\
2- Scale the data\
3- Use various models and predict

In [11]:
datapath = '../Springboard1'
save_file(df, 'Fraud_Preprocessing.csv', datapath)

Writing file.  "../Springboard1\Fraud_Preprocessing.csv"